[Unit]
Description=script daemon for turning off led at night

[Service]
WorkingDirectory=/home/pi
ExecStart=/home/pi/venv/bin/python /home/pi/led_timer.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
